/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
	margin: 0;
	padding: 0;	
}

#page {
}

#admin-menu {
font: normal small "Lucida Grande", Verdana, sans-serif;
-moz-box-shadow: 0 -10px 20px 13px #000;
-webkit-box-shadow: 0 -10px 20px 13px #000;
box-shadow: 0 -10px 20px 13px #000;
right: 0;
width: 100% !important;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#cwwrapper_9757728 {
	width:100% !important;
}
.officials div {
	float:none !important;
}
.director {
	display:none;
}

.view-search-page li {
	margin-bottom:20px;
}

#logo { 
  margin: 0;
  padding: 0;
  text-align:center;
}
#logo img {
  vertical-align: bottom;
  max-width: 100% !important;
	height: auto !important;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

.container {
	padding:15px !important;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebars {
	padding:0px 5px 0px 5px;
	float:left;
}

 /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  color:#272727;
  font-size:17px;
  line-height:17px;
  text-transform:uppercase;
  padding:0;
  padding-bottom:6px;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}
.region-alert h2.block-title {
	text-decoration: none !important;
	font-size: 22px;
	line-height: 22px;
	font-weight: bold;
	display: block;
	text-shadow: 1px 2px #000101;
	color:#FFF !important;
	text-align:center !important;
}
.region-alert .block {
	background-color:#ed1c24;
	color:#FFF;
	text-align:center !important;
	padding:10px 5px 10px 5px!important;
	color: #fff;
	font-size:12px;
	position:relative;
	
}
.region-alert #block-views-emergency-banner-block-1 {
    background-color: #E6A622;
}
.region-alert .item-list ul li {
margin: 0;
margin-bottom: 10px;
}
.region-alert .block-views {
	text-align:center !important;
}
.region-alert a {
	color:#FFF !important;
}

#closeBan {
	text-indent:-999999px;
	background-image: url(/sites/all/themes/ulster_full_mobi/images/close.png);
	background-repeat: no-repeat;	
	width:21px;
	height:19px;
	position:absolute;
	right:5px;
	top:3px;
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
	width:38%;
	margin-right:2%;
	float:left;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
	width:60%;
	float:left;
	
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

.nomobile {
	display:none;
}
#block-flickr-3,#block-views-video-list-block-1 {
	display:none;
}

html.js div.contextual-links-wrapper {
	display:none !important;
}
.director {
	float:none !important;
	text-align:left;
	margin:0px !important;	
}
.director img {
	display:block;
	margin:5px 0px 5px 0px;
} 
.director span {
	display:none;
}
.officials ul {
	padding:0px !important;
	margin:0px !important;
}
table {
	width:100% !important;
}


/* UC Mobile Themeings */
body {
	font-family: 'PT Sans Caption', sans-serif;	
}
a { color: #217cc6; }
#page {
}
#header, #content, .region-sidebar-first, .region-sidebar-second, #footer {
	padding: 0px;
}
#header {
	border-bottom:solid 8px #18244e;
	padding:10px;
	text-align:center;
}
#name-and-slogan {
	float: none;
}
#site-name {
	font-family: 'Arvo', serif;
	text-align: center;
	font-weight: normal;
}
#site-name a:link, #site-name a:visited, #site-name a:hover, #site-name a:active {
	color: #217cc6;
}
#site-name a:hover {
	text-decoration: none;
}
#main {
	padding-top: 0px;
	background-color:#57595e;
}
#inner {
	padding-top: 0px;
	background-color:#FFF;
}
#block-views-news-feed-block-7, #block-views-news-feed-block-11 {
	background-color:#e8e9e9;
	padding:10px !important;
	min-height:133px;
	
}

#block-views-news-feed-block-7 .item-list ul, #block-views-news-feed-block-11 .item-list ul {
padding: 0px;
margin: 0px;
}

#block-views-news-feed-block-7 p, #block-views-news-feed-block-11 p {
	padding: 0px;
margin: 0px;
}

#block-views-news-feed-block-7 .item-list ul li, #block-views-news-feed-block-11 .item-list ul li {
	font-size:11px;
	line-height:14px !important;
	margin-bottom:0px !important;
	padding-bottom:0px !important;
}
#block-views-news-feed-block-7 .item-list ul li a, #block-views-news-feed-block-11 .item-list ul li a {
	color:#272727;
	text-decoration:none;
	font-weight:bold;
}
a.readmore {
	font-size:11px;
	line-height:14px !important;
}
.view-footer {
	margin-bottom:15px;
}
.views-field-created {
	color:#272727;
	text-decoration:none;
	font-weight:normal;
	padding-bottom:5px;
	font-style:italic;
	font-size:11px;
}

.clearboth {clear:both; }
.switch {
	text-align:right;
	color:#217cc6;
	font-size:10px;
	background-color:#18244e;
	padding:4px 25px 4px 25px;
}

h1#page-title {
	color: #fff;
	text-decoration: none;
	font-size:20px;
	line-height:40px;
	text-shadow: 1px 2px #000101;
	padding-left:17px;
	padding-right:17px;
	margin-bottom:0px;
	padding-top:0px;
	margin-top:0px;
	font-weight: bold;
	text-align: left;
	background-color: #217cc6;
}
h2#sub-title {
	background: #d72b2b;
	color: #fff;
	font-weight: normal;
	text-align: center;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-size: 1.5em;
	margin-top: 10px;
	line-height: normal;
}
.caption-img {
	position: relative; 
   width: 100%; /* for IE 6 */
}
.caption-meta {
	position: absolute; 
    bottom: 15px; 
   left: 0; 
   width: 100%; 
}
.caption-meta p {
	padding:0px;
	margin:0px;
	padding-left:5px;
	padding-right:5px;
}
.meta-title {
	font-size:13px;
	color:#FFF;
	line-height:15px;
}
.meta-job {
	color:#FFF;
	font-size:9px;
	line-height:10px;
}
#navigation {
	position: static;
	height: auto;
}

#gov-dropdown,#residents-dropdown,#visitors-dropdown,#business-dropdown,#departments-dropdown {
	display:none;
	margin-bottom:5px;
}
#sub-menu-dropdown {
	display:none;
}

nav {
	background-color:#52555e;
}
	
nav ul {
	
	width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    position:relative;
}

nav li {
	float: none!important;
	text-transform:capitalize;
	font-weight: normal;
	margin: 0px;
	text-align: left;	
	text-decoration:none;
	
	
}
nav li a{
	padding-top:6px;
	padding-bottom:6px;
	display:block;
	padding-left:17px;
	background-color: #4e4e4e;
	background-image: url(/sites/all/themes/ulster_full_mobi/images/menu-arrow.png);
	background-repeat: no-repeat;	
	background-position: 98% center;
	margin-bottom:5px;
	color:#fff;
	text-decoration:none;
	font-size:17px;
	padding-right:35px;
}
nav li.last a{
	margin-bottom:0px;
}
nav li a.active {
	color: #217cc6;
}
	
#sub-menu-dropdown {
	background-color:#52555e;
}
	
#sub-menu-dropdown ul {
	
	width:100%;
    margin:0 auto;
    padding:0;
    list-style:none;
    position:relative;
}

#sub-menu-dropdown li {
	float: none!important;
	text-transform:capitalize;
	font-weight: normal;
	margin: 0px;
	text-align: left;	
	text-decoration:none;
	
	
}
#sub-menu-dropdown li a{
	padding-top:6px;
	padding-bottom:6px;
	display:block;
	padding-left:17px;
	background-color: #4e4e4e;
	background-image: url(/sites/all/themes/ulster_full_mobi/images/menu-arrow.png);
	background-repeat: no-repeat;	
	background-position: 98% center;
	margin-bottom:5px;
	color:#fff;
	text-decoration:none;	
	font-size:15px;
	padding-right:35px;
}
#sub-menu-dropdown li a.active {
	color: #217cc6;
}
#sub-menu-dropdown li ul li a{
	padding-left:25px;
}
#sub-menu-dropdown li ul li ul li a{
	padding-left:35px;
}
#sub-menu-dropdown li ul li ul li ul li a{
	padding-left:45px;
}
#sub-menu-dropdown li ul ul li ul li ul li li a{
	padding-left:55px;
}


#sub-menu-dropdown:hover ul {

	display: block;

}	

#sub-menu-dropdown .contextual-links-wrapper {
	display:none;
}
	
	
	
	#gov-icon,#residents-icon,#visitors-icon,#business-icon,#departments-icon {
		display:inline-block;
		
	}
	#gov-icon-bg,#residents-icon-bg,#visitors-icon-bg,#business-icon-bg,#departments-icon-bg,#dept-icon-bg {
		background:#217cc6 url(/sites/all/themes/ulster_full_mobi/images/menu-arrow.png) no-repeat 95% center;
		width:100%;
		position:relative;
		padding-top:5px;
		padding-bottom:5px;
		display:block;	
		text-decoration: none !important;
		margin-bottom:5px;	
	}
	#link-icon-bg {
		background-color:#217cc6;
		position:relative;
		padding-top:5px;
		padding-bottom:5px;
		display:block;	
		text-decoration: none !important;
		margin-bottom:5px;	
	}
	#gov-icon-bg.open, #residents-icon-bg.open, #visitors-icon-bg.open, #business-icon-bg.open, #departments-icon-bg.open {
		background:#217cc6 url(/sites/all/themes/ulster_full_mobi/images/menu-arrow-open.png) no-repeat 95% center;
	}
	a #gov-icon-bg,a.#gov-icon-bg, #gov-icon-bg a,a #residents-icon-bg,a.#residents-icon-bg, #residents-icon-bg a,a #visitors-icon-bg,a.#visitors-icon-bg, #visitors-icon-bg a,a #business-icon-bg,a.#business-icon-bg, #business-icon-bg a, a #departments-icon-bg,a.#departments-icon-bg, #departments-icon-bg a, a #dept-icon-bg,a.#dept-icon-bg, #dept-icon-bg a {
		text-decoration:none;
	}	
	#gov-icon-bg .menu-title,#residents-icon-bg .menu-title,#visitors-icon-bg .menu-title,#business-icon-bg .menu-title, #departments-icon-bg .menu-title, #dept-icon-bg .menu-title {
		color: #fff;
		text-decoration: none !important;
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
		text-align: left;
		padding-left:17px;
		padding-right:70px;
		display:block;
		text-shadow: 1px 2px #000101;
	}
	#link-icon-bg .menu-title {
		color: #fff;
		text-decoration: none !important;
		font-size: 20px;
		line-height: 26px;
		font-weight: bold;
		text-align: left;
		padding-left:17px;
		padding-right:17px;
		display:block;
		text-shadow: 1px 2px #000101;
	}
	
	#gov-icon-bg .menu-icon, #residents-icon-bg .menu-icon, #visitors-icon-bg .menu-icon, #business-icon-bg .menu-icon, #departments-icon-bg .menu-icon {
		position:absolute;
		top:0px;
		right:5px;
		background-image: url(/sites/all/themes/ulster_full_mobi/images/menu-icon.png);
		background-repeat: no-repeat;
		background-position: 95% center;		
	}
	#dept-icon-bg .menu-icon,#link-icon-bg .menu-icon {
		position:absolute;
		top:0px;
		right:5px;
		background-image: none;	
	}

	a #sub-menu-icon-bg,a.#sub-menu-icon-bg, #sub-menu-icon-bg a {
		text-decoration:none;
	}
	a #sub-menu-icon-nobg,a.#sub-menu-icon-bg, #sub-menu-icon-bg a {
		text-decoration:none;
	}
	#sub-menu-icon {

		display:inline-block;

	}
	#sub-menu-icon-nobg {
		background:#57595e;
		width:100%;
		position:relative;
		padding-top:10px;
		padding-bottom:10px;
		display:block;		
		text-decoration: none !important;
	}
	#sub-menu-icon-bg {
		background:#57595e url(/sites/all/themes/ulster_full_mobi/images/menu-icon.png) no-repeat 95% center;
		width:100%;
		position:relative;
		padding-top:10px;
		padding-bottom:10px;
		display:block;		
		text-decoration: none !important;
	}
	#sub-menu-icon-bg .menu-title {
		color: #fff;
		text-decoration: none !important;
		font-size: 18px;
		line-height: 24px;
		
		font-weight: bold;
		text-align: left;
		padding-left:17px;
		padding-right:70px;
		display:block;
	}
	#sub-menu-icon-nobg .menu-title {
		color: #fff;
		text-decoration: none !important;
		font-size: 18px;
		line-height: 24px;
		
		font-weight: bold;
		text-align: left;
		padding-left:17px;
		padding-right:70px;
		display:block;
	}
	#sub-menu-icon-bg .menu-icon {
		position:absolute;
		top:0px;
		right:5px;
	background-image: url(/sites/all/themes/ulster_full_mobi/images/menu-icon.png);
	background-repeat: no-repeat;
	background-position: 95% center;	
	
}



#navigation ul.links li, #navigation ul.menu li {
	float: none!important;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px 0px 6px 0px;
	text-align: left;
	background-image: url(/sites/all/themes/ulster_full_mobi/images/menu-arrow.png);
	background-repeat: no-repeat;
	background-color: #217cc6;
	background-position: 98% center;	
}
#navigation ul.menu li a {
	color: #fff;
	text-decoration: none;
	font-size:22px;
	line-height:32px;
	text-shadow: 1px 2px #000101;
	margin-left:17px;
}
#content article.node-teaser {
	height: auto;
	overflow: visible;
}
li.views-row { list-style-type: none; }
.field-name-body {
	padding: 0px;
	text-align: left;
}
#cookieJar { text-align: center; font-size: 14px;}
p.submitted { display: none; }
.nomobo { display: none; }


@media only screen 
and (max-width : 320px) {
/* Styles */
body {
	background-image: url(/sites/all/themes/ulster_full_mobi/images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed !important;
	background-position: center top;
}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

body {
	background-image: url(/sites/all/themes/ulster_full_mobi/images/bg480.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed !important;
	background-position: center top;
}

}
.section-roll-of-honor #header,
.section-roll-of-honor #link-icon-bg,
.section-roll-of-honor .switch { display: none; }
.page-roll-of-honor-lookup .container { padding-top: 185px!important; background: url(../images/mobile-flags.jpg) left top  no-repeat; }
.page-roll-of-honor .container h1 { font-size:17px; padding-top:17px; color: #076eb2; }
#views-exposed-form-search-page-page-4 label { display: none; }
#views-exposed-form-search-page-page-4 input[type=text] { font-size: 11px; line-height: 24px; color: #6D6E71; background: #DADADA; padding: 2px 5px; border: none;}
#views-exposed-form-search-page-page-4 input::-webkit-input-placeholder {color: #6D6E71; text-transform: uppercase;}
#views-exposed-form-search-page-page-4 input:-moz-placeholder {color: #6D6E71; text-transform: uppercase;}
#views-exposed-form-search-page-page-4 input::-moz-placeholder {color: #6D6E71; text-transform: uppercase;}
#views-exposed-form-search-page-page-4 input:-ms-input-placeholder {color: #6D6E71; text-transform: uppercase;}
#views-exposed-form-search-page-page-4 #edit-field-first-name-wrapper { width: 289px; float: none; margin-bottom: 15px;}
#views-exposed-form-search-page-page-4 #edit-field-first-name-wrapper input { width: 96%!important; }

#views-exposed-form-search-page-page-4 #edit-field-mi-wrapper { width: 34px; padding: 0; }
#views-exposed-form-search-page-page-4 #edit-field-mi-wrapper input { width: 24px!important; }
#views-exposed-form-search-page-page-4 #edit-field-last-name-wrapper { padding-top: 0!important; padding-right: 0; padding-left: 17px;}
#views-exposed-form-search-page-page-4 #edit-title-wrapper { width: 230px; padding: 0; margin-left:14px; }
#views-exposed-form-search-page-page-4 #edit-title-wrapper input  { width: 100%!important; }
#views-exposed-form-search-page-page-4 .views-submit-button { width: 289px!important; clear:both;}
#views-exposed-form-search-page-page-4  #edit-submit-search-page { background: #E02326; color: #fff; border: none; text-transform: uppercase; font-size: 11px; padding: 8px 0;  width: 100%!important; font-family: 'PT Sans', sans-serif; margin-top: 12px;}

.view-display-id-page_4  .item-list ul li { margin-bottom: 0; }
.view-display-id-page_4 .views-row { cursor: pointer; padding: 2px; }
.view-display-id-page_4 .views-row-even { background: #B0DDF9; }
.view-display-id-page_4 .views-field-title { float: left; padding-right: 10px; width: 148px;}
.view-display-id-page_4  .views-field-field-wall, .view-display-id-page_4  .views-field-field-line { font-size: 12px; }
.view-display-id-page_4  .views-field-field-line:after { content: " "; clear: both; display: block; }
.view-display-id-page_4  .view-header { display: none; }
#block-block-56 { text-align: center; font-weight: bold; padding-top: 15px; border-top: 1px solid #DADADA; margin-top: 12px; clear:both;}
#block-block-56 a { text-decoration: none; }

#block-block-52 { padding-top: 20px; clear:both;}
#block-block-52 p a {
	display: block; float: left; background: #808080; text-decoration: none; font-size: 12px; color: #fff; padding: 32px 0; width: 139px; text-align: center; line-height: 16px; border-radius: 15px; margin-bottom: 10px;
}

#block-block-52 p a + a { margin-left: 10px; padding: 19px 0;}
#block-block-52 p a.rollinfo { clear: left; margin-left: 0;}
#block-block-52 p a span {
	display: block; font-size: 16px; color: #000; line-height: 24px; text-transform:uppercase; padding-top: 3px;
}

.kioskonly { display: none; }
.kioskdeskonly { display: none; }
.section-ulsterforbusiness .container { }
.section-ulsterforbusiness iframe {max-width: 290px; }
.section-ulsterforbusiness .halfSix iframe, .section-ulsterforbusiness .halfSeven iframe{min-width: 290px!important; }
.section-ulsterforbusiness  #content h1 { display:none; }
.section-ulsterforbusiness #content article h1 { display:block; }
.nomobile { display:none; }
.section-ulsterforbusiness h1 { margin-top: 15px; }
.section-ulsterforbusiness #content .hero a, #learnmorebutton { display:inline-block; margin-top: 14px; background: #f6841f; font-size: 14px; padding: 13px 25px; color:#fff; width:auto; text-decoration:none;}
.section-ulsterforbusiness #content .hero a:hover, #learnmorebutton:hover { background-color: #273057; }